[submodule "pytest"]
	path = pytest
	url = git://github.com/vim-scripts/pytest.vim.git
[submodule "cute-python"]
	path = cute-python
	url = git://github.com/ehamberg/vim-cute-python.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule "vim-flake8"]
	path = vim-flake8
	url = git://github.com/nvie/vim-flake8.git
